@media only screen and (max-width: 1190px){
    body {
        display: none;
    }
}
body{ 
    background: #EEF0E5;
    margin: 0em;
}
header{
    position: fixed;
    width: 100%;
    margin: 0em;
    background: #86A789;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 2;
}
#div1{
    display: inline-block;
    width: 57%;
    margin: 0em 0em 0em 0.5em;
}
#ministere{
    display: inline-block;
    width: 6em;
    height: 3em;
    margin: 0.5em 0em 0em 0.7em;
}
nav{
    display: inline-block;
    text-align: right;
    vertical-align: top; 
    width: 40%;
    height: 3em;
    margin: 0em 0em 0em 0em;
    padding: -1em 0em 1em 0em; 
}
nav ul{
    list-style-type: none;
    width: 40em;
    padding-left: 0;
}
nav li{
    display: inline-block;
    margin-right: 1em;
}
nav a{
    font-family: 'Sacramento', cursive; 
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 3px 3px 3px #5C8374;
    color: #092635;
    padding-top: 0em;
}
nav a:hover, nav ul ul li a:hover{
    color: #D2E3C8;
    text-decoration: underline;
}
#sitestouristiques{
    cursor: wait;
}
li:hover ul{
    display: block;
}
ul ul{
    display: none;
    position: absolute;
    background-color: #70978a;
    max-width: 9em;
    padding: 0.2em 0em 0.2em 0.4em;
    border: 1px solid #092635;
    border-radius: 7px;
}
ul ul li{
    display: block;
    text-align: left;
}
nav ul ul li a{
    color: #092635;
}
#contact{ 
    border-radius: 7px;
    background-color: #092635;
    color: #86A789;
    padding: 0.2em 0.4em 0em 0.2em;
    text-shadow: none;
}
#contact:hover{
    text-decoration: none;
    background-color: #5C8374;
    color: #092635;
}
p{
    font-family: 'Zilla Slab', serif;
    font-size: 1.07em;
    margin: 1em 1.7em 0.5em 1.7em;
    font-style: italic;
}
h1{
    font-family: 'Sacramento', serif;
    font-size: 3em;
    text-shadow: 3px 3px 3px #5C8374;
    margin: 0.2em 1em -0.3em 1em; 
}
#acceuil{
    margin-top: 3em;
    width: 100%;
    height: 27em;
    border-radius: 7px;
}
.textbox {
    position: absolute;
    z-index: 2;
    top: 55%;
    left: 16%;
    transform: translate(-50%, -50%);
    color: #092635;
    background: rgba(251, 255, 247, 0.7);
    font-family: 'Pacifico', cursive;
    font-size: 1.4em;
    padding: 0.1em 0.4em 0.2em 0.3em;
    text-align: left;
    border-radius: 7px;
    z-index: 1;
}
#up{
    position: fixed;
    background: #092635;
    top: 88%;
    left: 94%;
    width: 1.9em;
    height: 1.9em;
    padding: 0.4em 0em 0em 0.3em;
    border-radius: 7px;
}
#section2{
    display: inline-block;
    width: 100%;
}
#text-acceuil{
    float: left;
    width: 73.7%;
    text-align: justify;
}
#video0{
    float: left;
    margin-top: 2em;
    width: 24%;
    height: 34em;
}
#video{
    border-radius: 7px;
    width: 100%;
    height: 100%;
}
#section03{
    height: 20em;
    margin-bottom: 2.5em;
}
#rights, #lasticons{
    display: inline-block;
    vertical-align: top;
}
#rights{
    width: 90%;
    padding: 0.7em 0em 0.2em 0.7em;
}
#lasticons{
    padding: 0.6em 0em 0.2em 0em;
}
#instagram{
    margin-left: -0.2em;
}  
#section3{
    display: flex;
    justify-content: center;
    height: 10em;
    margin-left: 1.8em;
}
#div{
    text-align: center;
    width: 30%;
    height: 15em;
    margin: 1em 1.5em 0em 0em;
}
#img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    
}
#par{
    margin-top: 0em;
}



#footer {
    margin-top: 2em;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    background: url(../images/waves.PNG);
    background-size: 100% 75px;
    overflow: hidden;
    animation: wave 10s linear infinite;
}
#foot{
    border-top: 1px solid black;  
}
#footp{
    float: left;
    width: 53%;
    font-weight: bold;
    margin-top: 0.7em;   
}
#footd{
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5em;
    float: left;
    width: 40%;  
}
#facebook{
    width: 1.05em;
    height: 1.4em;
    margin-left: 0.4em;
    padding-top: 0.3em;
}
#twitter{
    width: 1.3em;
    height: 1.3em;
    margin-left: 0.4em;
    padding-top: 0.35em;
}
#linkedin{
    width: 1.6em;
    height: 1.5em;
    margin-left: 0.4em;
    padding-top: 0.2em;
}
#instagram{
    width: 1.7em;
    height: 1.7em;
    margin-left: 0.35em;
    padding-top: 0.1em;
}
@keyframes wave {
    0%{background-position-x: 0px;}   
    50%{background-position-x: 500px;}   
    100%{background-position-x: 1000px;}
}